In [ ]:
'''
【课程2.2  Pandas数据结构Series：基本概念及创建】 课程作业

'''

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 作业1：分别由字典、数组的方式，创建以下要求的Series

dic = {'Jack':90,'Tom':89,'Marry':92,'Zack':65}
ar = np.array([90,89,92,76])
print('由字典创建为：\n',pd.Series(dic, dtype = np.float, name = '作业1'),'\n------')
print('由数组创建为：\n',pd.Series(ar, index = ['Jack','Tom','Marry','Zack'],dtype = np.float, name = '作业1'),'\n------')

由字典创建为：
 Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: 作业1, dtype: float64
------
由数组创建为：
 Jack     90.0
Tom      89.0
Marry    92.0
Zack     76.0
Name: 作业1, dtype: float64
------

In [ ]:
'''
【课程2.3  Pandas数据结构Series：索引】 课程作业

'''

In [3]:
# 作业1：创建一个Series，包含10个元素，且每个值为0-100的均匀分布随机值，index为a-j，请分别筛选出：
# ① 标签为b，c的值为多少
# ② Series中第4到6个值是哪些？
# ③ Series中大于50的值有哪些？

s = pd.Series(np.random.rand(10)*100, index = list('abcdefghij'))
print('创建Series为：\n', s, '\n------')
print('标签为b，c的值为:\n', s['b'], s['c'],'\n------')
print('Series中第4到6个值为:\n', s[3:6],'\n------')
print('Series中大于50的值为:\n', s[s>50],'\n------')

创建Series为：
 a     2.016528
b    49.894802
c    42.833627
d    87.053552
e    22.330545
f     2.067542
g    91.332145
h    47.239991
i    32.474135
j    82.116626
dtype: float64
------
标签为b，c的值为:
 49.8948015368 42.8336272643
------
Series中第4到6个值为:
 d    87.053552
e    22.330545
f     2.067542
dtype: float64
------
Series中大于50的值为:
 d    87.053552
g    91.332145
j    82.116626
dtype: float64
------

In [ ]:
'''
【课程2.4  Pandas数据结构Series：基本技巧】 课程作业

'''

In [4]:
# 作业1：如图创建Series，并按照要求修改得到结果

s = pd.Series(np.arange(10), index = list('abcdefghij'))
print('创建s：\n',s,'\n------')
s[['a','e','f']] = 100
s.drop('b', inplace=True)
print('s修改后：\n',s,'\n------')

创建s：
 a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32
------
s修改后：
 a    100
c      2
d      3
e    100
f    100
g      6
h      7
i      8
j      9
dtype: int32
------

In [5]:
# 作业2：已有s1，s2（值为0-10的随机数），请求出s1+s2的值

s1 = pd.Series(np.random.rand(5)*10,index = list('abcde'))
s2 = pd.Series(np.random.rand(5)*10,index = list('cdefg'))
print('创建s1为：\n',s1,'\n')
print('创建s2为：\n',s2,'\n------')
print('s1+s2为：\n',s1+s2,'\n------')

创建s1为：
 a    5.236400
b    7.548774
c    0.127353
d    2.048674
e    9.340298
dtype: float64

创建s2为：
 c    6.314362
d    4.572926
e    4.834223
f    9.144178
g    4.307324
dtype: float64
------
s1+s2为：
 a          NaN
b          NaN
c     6.441715
d     6.621600
e    14.174521
f          NaN
g          NaN
dtype: float64
------

In [ ]:
'''
【课程2.5  Pandas数据结构Dataframe：基本概念及创建】 课程作业

'''

In [6]:
# 作业1：用四种不同的方法，创建以下Dataframe（保证columns和index一致，值不做要求）

df1 = pd.DataFrame({'one':[1,2,3,4,5],
                   'two':[2,3,4,5,6],
                   'three':[3,4,5,6,7],
                   'four':[4,5,6,7,8]},
                  index = list('abcde'))
df2 = pd.DataFrame({'one':pd.Series([1,2,3,4,5],index = list('abcde')),
                   'two':pd.Series([2,3,4,5,6],index = list('abcde')),
                   'three':pd.Series([3,4,5,6,7],index = list('abcde')),
                   'four':pd.Series([4,5,6,7,8],index = list('abcde'))})
df3 = pd.DataFrame(np.arange(20).reshape(5,4), 
                   index = list('abcde'),
                  columns = ['one','two','three','four'])
df4 = pd.DataFrame([{'one':1,'two':2,'three':3,'four':4},
                   {'one':2,'two':3,'three':4,'four':5},
                   {'one':3,'two':4,'three':5,'four':6},
                   {'one':4,'two':5,'three':6,'four':7},
                   {'one':5,'two':6,'three':7,'four':8}],
                  index = list('abcde'))
print('结果Dataframe为：\n',df4)

结果Dataframe为：
    four  one  three  two
a     4    1      3    2
b     5    2      4    3
c     6    3      5    4
d     7    4      6    5
e     8    5      7    6

In [ ]:
'''
【课程2.6  Pandas数据结构Dataframe：索引】 课程作业

'''

In [7]:
# 作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
# ① 索引得到b，c列的所有值
# ② 索引得到第三第四行的数据
# ③ 按顺序索引得到two，one行的值
# ④ 索引得到大于50的值

df = df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print('创建Dataframe为：\n',df,'\n-------')
print('b，c列的所有值为:\n', df[['b','c']],'\n------')
print('第三第四行的值为:\n', df[2:4],'\n------')
print('按顺序索引得到two，one行的值为:\n', df.loc[['two','one']],'\n------')
print('大于50的值为:\n', df[df>50],'\n------')

创建Dataframe为：
                a          b          c          d
one    60.936882  34.198569  86.933961  63.217850
two    93.910622   8.843498  12.482240  35.940462
three  11.350391  40.704308  50.524502   5.215897
four    5.777448  75.515444  96.847913  57.683561
-------
b，c列的所有值为:
                b          c
one    34.198569  86.933961
two     8.843498  12.482240
three  40.704308  50.524502
four   75.515444  96.847913
------
第三第四行的值为:
                a          b          c          d
three  11.350391  40.704308  50.524502   5.215897
four    5.777448  75.515444  96.847913  57.683561
------
按顺序索引得到two，one行的值为:
              a          b          c          d
two  93.910622   8.843498  12.482240  35.940462
one  60.936882  34.198569  86.933961  63.217850
------
大于50的值为:
                a          b          c          d
one    60.936882        NaN  86.933961  63.217850
two    93.910622        NaN        NaN        NaN
three        NaN        NaN  50.524502        NaN
four         NaN  75.515444  96.847913  57.683561
------

In [ ]:
'''
【课程2.7  Pandas数据结构Dataframe：基本技巧】 课程作业

'''

In [8]:
# 作业1：创建一个3*3，值在0-100区间随机值的Dataframe（如图），分别按照index和第二列值大小，降序排序

df = pd.DataFrame(np.random.rand(3,3)*100,
                 index = ['a','b','c'],
                 columns = ['v1','v2','v3'])
print('创建Dataframe为：\n',df,'\n-------')
print('按照index降序：\n',df.sort_index(ascending = False),'\n-------')
print('按照第二列值大小降序：\n',df.sort_values(['v2'], ascending = False),'\n-------')

创建Dataframe为：
           v1         v2         v3
a   6.477556   9.470260  99.929419
b  47.411645  50.873012  33.376488
c  65.374675  23.431663  43.404255
-------
按照index降序：
           v1         v2         v3
c  65.374675  23.431663  43.404255
b  47.411645  50.873012  33.376488
a   6.477556   9.470260  99.929419
-------
按照第二列值大小降序：
           v1         v2         v3
b  47.411645  50.873012  33.376488
c  65.374675  23.431663  43.404255
a   6.477556   9.470260  99.929419
-------

In [9]:
#  作业2：创建一个5*2，值在0-100区间随机值的Dataframe（如图）df1，通过修改得到df2

df1 = pd.DataFrame(np.random.rand(5,2)*100,
                 index = ['a','b','c','d','e'],
                 columns = ['v1','v2'])
print('创建Dataframe为：\n',df1,'\n-------')
df2 = df1.T.drop('e',axis = 1)
df2['b'] = 100
print('修改后为：\n',df2,'\n-------')

创建Dataframe为：
           v1         v2
a  39.315629  24.044436
b  57.688910  22.576572
c  43.566194  83.827742
d  77.809447  46.222923
e  85.141039  44.336434
-------
修改后为：
             a    b          c          d
v1  39.315629  100  43.566194  77.809447
v2  24.044436  100  83.827742  46.222923
-------

In [ ]:
'''
【课程2.8  时间模块：datetime】 课程作业

'''

In [10]:
# 作业1：请调用datatime模块，输出以下时间信息

import datetime

print('1、请输出当前时间：', datetime.datetime.now(),'\n------')
print('2、请输出时间：', datetime.datetime(2017,5,1,12,30),'\n------')
print('3、请输出时间：', datetime.datetime(2000,12,1),'\n------')

1、请输出当前时间： 2017-12-28 12:47:03.375475
------
2、请输出时间： 2017-05-01 12:30:00
------
3、请输出时间： 2000-12-01 00:00:00
------

In [11]:
# 作业2：请创建时间变量‘2000年5月1日’，求出1000天之后是哪年哪月哪日？

t1 = datetime.datetime(2000,5,1)
print('结果为：',t1+datetime.timedelta(1000))

结果为： 2003-01-26 00:00:00

In [ ]:
'''
【课程2.9  Pandas时刻数据：Timestamp】 课程作业

'''

In [12]:
# 作业1：请通过迭代创建一个时间列表（如图，时间区间为任意一个月，这里可以用for语句），然后转化成DatetimeIndex，并print月中是多少号

datelst = []
for i in range(1,32):
    datelst.append('2017-12-%i' %i)
print('创建时间列表为：\n',datelst,'\n------')
t = pd.to_datetime(datelst)
print('转化成DatetimeIndex为：\n',t,'\n------')
n = (len(t) + 1)/2 - 1
print('月中日期为：\n',t[int(n)],'\n------')

创建时间列表为：
 ['2017-12-1', '2017-12-2', '2017-12-3', '2017-12-4', '2017-12-5', '2017-12-6', '2017-12-7', '2017-12-8', '2017-12-9', '2017-12-10', '2017-12-11', '2017-12-12', '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-16', '2017-12-17', '2017-12-18', '2017-12-19', '2017-12-20', '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30', '2017-12-31']
------
转化成DatetimeIndex为：
 DatetimeIndex(['2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
               '2017-12-05', '2017-12-06', '2017-12-07', '2017-12-08',
               '2017-12-09', '2017-12-10', '2017-12-11', '2017-12-12',
               '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-16',
               '2017-12-17', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24',
               '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
               '2017-12-29', '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', freq=None)
------
月中日期为：
 2017-12-16 00:00:00
------

In [14]:
# 作业2：请如图创建一个包含时间日期的txt文件，通过open语句读取后转化成DatetimeIndex

f = open('C:/Users/Hjx/Desktop/date.txt','r')
s = f.readline()
datelst = s.split(',')
print('读取txt文件为：\n',datelst,'\n------')
t = pd.to_datetime(datelst)
print('转化成DatetimeIndex为：\n',t,'\n------')

读取txt文件为：
 ['20150101', '20150102', '20150103', '20150104', '20150105', '20150106', '20150107', '20150108']
------
转化成DatetimeIndex为：
 DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08'],
              dtype='datetime64[ns]', freq=None)
------

In [ ]:
'''
【课程2.10  Pandas时间戳索引：DatetimeIndex】 课程作业

'''

In [15]:
# 作业1：请输出以下时间序列

ts1 = pd.Series(np.random.rand(5),
                index = pd.date_range('20170101',periods = 5))
ts2 = pd.Series(np.random.rand(4),
                index = pd.date_range('2017','2018',freq = '3M'))
ts3 = pd.DataFrame(np.random.rand(4,4),
                   index = pd.date_range('20171201',periods = 4, freq = '10T'),
                  columns = ['value1','value2','value3','value4'])
print('时间序列1：\n',ts1,'\n------')
print('时间序列2：\n',ts2,'\n------')
print('时间序列3：\n',ts3,'\n------')

时间序列1：
 2017-01-01    0.578613
2017-01-02    0.805522
2017-01-03    0.544745
2017-01-04    0.524426
2017-01-05    0.969018
Freq: D, dtype: float64
------
时间序列2：
 2017-01-31    0.434898
2017-04-30    0.826343
2017-07-31    0.185842
2017-10-31    0.851676
Freq: 3M, dtype: float64
------
时间序列3：
                        value1    value2    value3    value4
2017-12-01 00:00:00  0.790031  0.850821  0.596643  0.538425
2017-12-01 00:10:00  0.340135  0.167637  0.950665  0.385907
2017-12-01 00:20:00  0.789100  0.253647  0.737544  0.263785
2017-12-01 00:30:00  0.161515  0.247085  0.114197  0.371345
------

In [16]:
# 作业2：按要求创建时间序列ts1，并转换成ts2

ts1 = pd.Series(np.random.rand(5),
               index = pd.date_range('20170501 12:0:0',periods = 5, freq = '10T'))
ts2 = ts1.asfreq('5T','ffill')
print('创建时间序列ts1：\n',ts1,'\n------')
print('转换成ts2：\n',ts2,'\n------')

创建时间序列ts1：
 2017-05-01 12:00:00    0.057813
2017-05-01 12:10:00    0.806951
2017-05-01 12:20:00    0.759841
2017-05-01 12:30:00    0.376766
2017-05-01 12:40:00    0.877166
Freq: 10T, dtype: float64
------
转换成ts2：
 2017-05-01 12:00:00    0.057813
2017-05-01 12:05:00    0.057813
2017-05-01 12:10:00    0.806951
2017-05-01 12:15:00    0.806951
2017-05-01 12:20:00    0.759841
2017-05-01 12:25:00    0.759841
2017-05-01 12:30:00    0.376766
2017-05-01 12:35:00    0.376766
2017-05-01 12:40:00    0.877166
Freq: 5T, dtype: float64
------

In [ ]:
'''
【课程2.11  Pandas时期：Period】 课程作业

'''

In [17]:
# 作业1：请输出以下时间序列，使用pd.period_range()

ts1 = pd.Series(np.random.rand(5),
                index = pd.period_range('20170101','20170501',freq = 'M'))
ts2 = pd.Series(np.random.rand(5),
                index = pd.period_range('20170101',periods = 5,freq = '2H'))
print('时间序列1：\n',ts1,'\n------')
print('时间序列2：\n',ts2,'\n------')

时间序列1：
 2017-01    0.652975
2017-02    0.709572
2017-03    0.449610
2017-04    0.882444
2017-05    0.734162
Freq: M, dtype: float64
------
时间序列2：
 2017-01-01 00:00    0.971213
2017-01-01 02:00    0.737898
2017-01-01 04:00    0.832529
2017-01-01 06:00    0.551528
2017-01-01 08:00    0.067928
Freq: 2H, dtype: float64
------

In [ ]:
'''
【课程2.12  时间序列 - 索引及切片】 课程作业

'''

In [18]:
# 作业1：如图创建时间序列(10*3，值为0-100的随机数)，通过索引得到以下值
# ① 索引得到前4行的所有值
# ② 索引得到2017-12-4 12:00:00的数据
# ③ 索引得到2017-12-4 - 2017-12-5的数据

import datetime
ts = pd.DataFrame(np.random.rand(10,3)*100,
                   index = pd.date_range('20171201',periods = 10, freq = '12H'),
                  columns = ['value1','value2','value3'])
print('创建时间序列为：\n',ts,'\n------')
print('前4行的所有值为:\n', ts[:3],'\n------')
print('2017-12-4 12:00:00的数据为:\n', ts.loc['2017-12-04 12:00:00'],'\n------')
print('2017-12-4 - 2017-12-5的数据为:\n', ts['20171204':'20171205'],'\n------')

创建时间序列为：
                         value1     value2     value3
2017-12-01 00:00:00  55.352641  25.429015  75.134377
2017-12-01 12:00:00  81.370159  89.312413   6.840683
2017-12-02 00:00:00  56.327040  26.171630  75.490264
2017-12-02 12:00:00  89.360466   8.899689  36.969172
2017-12-03 00:00:00  67.393683  15.611873  93.805499
2017-12-03 12:00:00  42.953537  77.599823  15.528796
2017-12-04 00:00:00  49.894794  81.597458  39.301740
2017-12-04 12:00:00  67.176581  57.610193  35.825823
2017-12-05 00:00:00  85.484082  90.029672  60.947450
2017-12-05 12:00:00  77.256713  92.711945   8.152771
------
前4行的所有值为:
                         value1     value2     value3
2017-12-01 00:00:00  55.352641  25.429015  75.134377
2017-12-01 12:00:00  81.370159  89.312413   6.840683
2017-12-02 00:00:00  56.327040  26.171630  75.490264
------
2017-12-4 12:00:00的数据为:
 value1    67.176581
value2    57.610193
value3    35.825823
Name: 2017-12-04 12:00:00, dtype: float64
------
2017-12-4 - 2017-12-5的数据为:
                         value1     value2     value3
2017-12-04 00:00:00  49.894794  81.597458  39.301740
2017-12-04 12:00:00  67.176581  57.610193  35.825823
2017-12-05 00:00:00  85.484082  90.029672  60.947450
2017-12-05 12:00:00  77.256713  92.711945   8.152771
------

In [ ]:
'''
【课程2.13  时间序列 - 重采样】 课程作业

'''

In [19]:
# 作业1：按要求创建时间序列ts1，通过降采样和升采样，转换成ts2，ts3

ts1 = pd.Series(np.random.rand(10),
              index = pd.date_range('20170101',periods = 10, freq = 'D'))
ts2 = ts1.resample('3D').mean()
ts3 = ts1.resample('12H').ffill()
print('创建时间序列ts1：\n',ts1,'\n------')
print('转换成ts2：\n',ts2,'\n------')
print('转换成ts3：\n',ts3,'\n------')

创建时间序列ts1：
 2017-01-01    0.804905
2017-01-02    0.945006
2017-01-03    0.071361
2017-01-04    0.831821
2017-01-05    0.286604
2017-01-06    0.830055
2017-01-07    0.546811
2017-01-08    0.798976
2017-01-09    0.316307
2017-01-10    0.817931
Freq: D, dtype: float64
------
转换成ts2：
 2017-01-01    0.607090
2017-01-04    0.649494
2017-01-07    0.554031
2017-01-10    0.817931
Freq: 3D, dtype: float64
------
转换成ts3：
 2017-01-01 00:00:00    0.804905
2017-01-01 12:00:00    0.804905
2017-01-02 00:00:00    0.945006
2017-01-02 12:00:00    0.945006
2017-01-03 00:00:00    0.071361
2017-01-03 12:00:00    0.071361
2017-01-04 00:00:00    0.831821
2017-01-04 12:00:00    0.831821
2017-01-05 00:00:00    0.286604
2017-01-05 12:00:00    0.286604
2017-01-06 00:00:00    0.830055
2017-01-06 12:00:00    0.830055
2017-01-07 00:00:00    0.546811
2017-01-07 12:00:00    0.546811
2017-01-08 00:00:00    0.798976
2017-01-08 12:00:00    0.798976
2017-01-09 00:00:00    0.316307
2017-01-09 12:00:00    0.316307
2017-01-10 00:00:00    0.817931
Freq: 12H, dtype: float64
------

In [ ]:
'''
【课程2.14  数值计算和统计基础】 课程作业

'''

In [20]:
# 作业1：如图创建一个Dataframe（5*2，值为0-100的随机值），并分别计算key1和key2的均值、中位数、累积和

df = pd.DataFrame(np.random.rand(5,2)*100,
                 columns = ['key1','key2'])
print('创建Dataframe为：\n',df,'\n------')
df['key1'][2] = np.nan
df['key1_cumsum'] = df['key1'].cumsum()
df['key2_cumsum'] = df['key2'].cumsum()
print('df["key1"]的均值为：\n',df['key1'].mean(),'\n------')
print('df["key1"]的中位数为：\n',df['key1'].median(),'\n------')
print('df["key2"]的均值为：\n',df['key2'].mean(),'\n------')
print('df["key2"]的中位数为：\n',df['key2'].median(),'\n------')
print('df的累积和为：\n',df,'\n------')

创建Dataframe为：
         key1       key2
0  78.873189  75.037939
1  10.000713  18.867336
2  59.528854  56.019724
3  55.161116  54.100441
4  24.143033  51.671367
------
df["key1"]的均值为：
 42.044512818040104
------
df["key1"]的中位数为：
 39.652074812919636
------
df["key2"]的均值为：
 51.13936160130839
------
df["key2"]的中位数为：
 54.10044106375154
------
df的累积和为：
         key1       key2  key1_cumsum  key2_cumsum
0  78.873189  75.037939    78.873189    75.037939
1  10.000713  18.867336    88.873902    93.905275
2        NaN  56.019724          NaN   149.925000
3  55.161116  54.100441   144.035018   204.025441
4  24.143033  51.671367   168.178051   255.696808
------

In [21]:
# 作业2：写出一个输入元素直接生成数组的代码块，然后创建一个函数，该函数功能用于判断一个Series是否是唯一值数组，返回“是”和“不是”

def f(s):
    s2 = s.unique()
    if len(s) == len(s2):
        print('------\n该数组是唯一值数组')
    else:
        print('------\n该数组不是唯一值数组')

d = input('请随机输入一组元素，用逗号（英文符号）隔开：\n')
lst = d.split(',')
ds = pd.Series(lst)
f(ds)

请随机输入一组元素，用逗号（英文符号）隔开：
a,sc,2,2,2,d,s,s,a
------
该数组不是唯一值数组

In [ ]:
'''
【课程2.15  文本数据】 课程作业

'''

In [22]:
# 作业1：如图创建一个Dataframe，并分别通过字符串常用方法得到3个Series：
# ① name字段首字母全部大写
# ② gender字段去除所有空格
# ③ score字段按照-拆分，分别是math，english，art三个学分

df = pd.DataFrame({'name':['jack','tom','Marry','zack','heheda'],
                  'gender':['M ','M','   F','  M ','  F'],
                  'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
df['name'] = df['name'].str.capitalize()
df['gender'] = df['gender'].str.strip()
df['math'] = df['score'].str.split('-', expand=True)[0]
df['english'] = df['score'].str.split('-', expand=True)[0]
df['art'] = df['score'].str.split('-', expand=True)[0]
del df['score']
print('创建Dataframe为：\n',df,'\n------')
print('修改后为：\n',df,'\n------')

创建Dataframe为：
   gender    name math english art
0      M    Jack   90      90  90
1      M     Tom   89      89  89
2      F   Marry   90      90  90
3      M    Zack   78      78  78
4      F  Heheda   60      60  60
------
修改后为：
   gender    name math english art
0      M    Jack   90      90  90
1      M     Tom   89      89  89
2      F   Marry   90      90  90
3      M    Zack   78      78  78
4      F  Heheda   60      60  60
------

In [ ]:
'''
【课程2.16  合并 merge、join】 课程作业

'''

In [23]:
# 作业1：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'key':['b','c','d'],
                   'values2':np.random.rand(3)})
df3 = pd.merge(df1,df2,on='key',how='outer')

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   key   values1
0   a  0.081882
1   b  0.988895
2   c  0.026287
------
创建df2为：
   key   values2
0   b  0.608940
1   c  0.045922
2   d  0.050287
------
合并df3为：
   key   values1   values2
0   a  0.081882       NaN
1   b  0.988895  0.608940
2   c  0.026287  0.045922
3   d       NaN  0.050287
------

In [24]:
# 作业2：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'lkey':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'rkey':['b','c','d'],
                   'values2':np.random.rand(3)})
df3 = pd.merge(df1,df2,left_on='lkey',right_on='rkey',how='left')

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   lkey   values1
0    a  0.777625
1    b  0.102231
2    c  0.543267
------
创建df2为：
   rkey   values2
0    b  0.745419
1    c  0.276994
2    d  0.423683
------
合并df3为：
   lkey   values1 rkey   values2
0    a  0.777625  NaN       NaN
1    b  0.102231    b  0.745419
2    c  0.543267    c  0.276994
------

In [25]:
# 作业3：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'values2':np.random.rand(3),
                   'values3':[5,6,7]},
                  index = ['b','c','d'])
df3 = pd.merge(df1,df2,left_on='key',right_index=True)

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   key   values1
0   a  0.638707
1   b  0.346130
2   c  0.216459
------
创建df2为：
     values2  values3
b  0.526828        5
c  0.416468        6
d  0.957053        7
------
合并df3为：
   key   values1   values2  values3
1   b  0.346130  0.526828        5
2   c  0.216459  0.416468        6
------

In [ ]:
'''
【课程2.17  连接与修补 concat、combine_first】 课程作业

'''

In [26]:
# 作业1：按要求创建Dataframe df1、df2，并连接成df3

df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df2 = pd.DataFrame(np.random.rand(4,2),
                  index = list('efgh'),
                  columns = ['values1','values2'])
df3 = pd.concat([df1,df2])

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('连接df3为：\n',df3,'\n------')

创建df1为：
     values1   values2
a  0.447342  0.680339
b  0.226332  0.354134
c  0.686542  0.407370
d  0.033940  0.962322
------
创建df2为：
     values1   values2
e  0.045157  0.416692
f  0.714113  0.902906
g  0.105140  0.127267
h  0.085265  0.484986
------
连接df3为：
     values1   values2
a  0.447342  0.680339
b  0.226332  0.354134
c  0.686542  0.407370
d  0.033940  0.962322
e  0.045157  0.416692
f  0.714113  0.902906
g  0.105140  0.127267
h  0.085265  0.484986
------

In [27]:
# 作业2：按要求创建Dataframe df1、df2，并用df2的值修补df1，生成df3

df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df1['values1'].loc[['b','c']] = np.nan
df2 = pd.DataFrame(np.arange(8).reshape(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df3 = df1.combine_first(df2)

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('df1修补后为：\n',df3,'\n------')

创建df1为：
     values1   values2
a  0.593720  0.755037
b       NaN  0.457937
c       NaN  0.382456
d  0.250054  0.176994
------
创建df2为：
    values1  values2
a        0        1
b        2        3
c        4        5
d        6        7
------
df1修补后为：
     values1   values2
a  0.593720  0.755037
b  2.000000  0.457937
c  4.000000  0.382456
d  0.250054  0.176994
------

In [ ]:
'''
【课程2.19  数据分组】 课程作业

'''

In [28]:
# 作业1：按要求创建Dataframe df1、df2，并连接成df3

df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df2 = pd.DataFrame(np.random.rand(4,2),
                  index = list('efgh'),
                  columns = ['values1','values2'])
df3 = pd.concat([df1,df2])

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('连接df3为：\n',df3,'\n------')

创建df1为：
     values1   values2
a  0.632057  0.078720
b  0.527422  0.331507
c  0.126908  0.896146
d  0.385836  0.609255
------
创建df2为：
     values1   values2
e  0.990162  0.818098
f  0.515815  0.433778
g  0.474512  0.428800
h  0.576840  0.940886
------
连接df3为：
     values1   values2
a  0.632057  0.078720
b  0.527422  0.331507
c  0.126908  0.896146
d  0.385836  0.609255
e  0.990162  0.818098
f  0.515815  0.433778
g  0.474512  0.428800
h  0.576840  0.940886
------

In [ ]:
'''
【课程2.19  数据分组】 课程作业

'''

In [29]:
# 作业1：按要求创建Dataframe df，并通过分组得到以下结果
# ① 以A分组，求出C,D的分组平均值
# ② 以A,B分组，求出D,E的分组求和
# ③ 以A分组，得到所有分组，以字典显示
# ④ 按照数值类型分组，求和
# ⑤ 将C,D作为一组分出来，并计算求和
# ⑥ 以B分组，求出每组的均值，求和，最大值，最小值

df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),
                   'D' : np.random.randn(8),
                   'E':np.random.rand(8)})


print('创建df为：\n',df,'\n------')
print('以A分组，求出C,D的分组平均值为：\n',df.groupby('A').mean(),'\n------')
print('以A,B分组，求出D,E的分组求和为：\n',df.groupby(['A','B']).sum(),'\n------')
print('以A分组，筛选出分组后的第一组数据为：\n',df.groupby('A').groups,'\n------')
print('按照数值类型分组为：\n',df.groupby(df.dtypes,axis=1).sum(),'\n------')
print('将C,D作为一组分出来，并计算求和为：\n',df.groupby({'C':'r','D':'r'},axis=1).sum(),'\n------')
print('以B分组，求出每组的均值，求和，最大值，最小值：\n',df.groupby('B').agg([np.mean,np.sum,np.max,np.min]),'\n------')

创建df为：
        A  B   C         D         E
0    one  h  10 -0.085340  0.420645
1    two  h  12  2.373044  0.664479
2  three  h  14  0.553483  0.988042
3    one  h  16  0.155289  0.184052
4    two  f  18  1.942460  0.037124
5  three  f  20 -0.085759  0.658828
6    one  f  22 -1.368377  0.334869
7    two  f  24 -1.101152  0.254488
------
以A分组，求出C,D的分组平均值为：
         C         D         E
A
one    16 -0.432809  0.313189
three  17  0.233862  0.823435
two    18  1.071450  0.318697
------
以A,B分组，求出D,E的分组求和为：
           C         D         E
A     B
one   f  22 -1.368377  0.334869
      h  26  0.069949  0.604697
three f  20 -0.085759  0.658828
      h  14  0.553483  0.988042
two   f  42  0.841308  0.291611
      h  12  2.373044  0.664479
------
以A分组，筛选出分组后的第一组数据为：
 {'three': [2, 5], 'two': [1, 4, 7], 'one': [0, 3, 6]}
------
按照数值类型分组为：
    int32   float64  object
0     10  0.335305    oneh
1     12  3.037522    twoh
2     14  1.541526  threeh
3     16  0.339341    oneh
4     18  1.979583    twof
5     20  0.573069  threef
6     22 -1.033508    onef
7     24 -0.846665    twof
------
将C,D作为一组分出来，并计算求和为：
            r
0   9.914660
1  14.373044
2  14.553483
3  16.155289
4  19.942460
5  19.914241
6  20.631623
7  22.898848
------
以B分组，求出每组的均值，求和，最大值，最小值：
      C                       D                                       E  \
  mean sum amax amin      mean       sum      amax      amin      mean
B
f   21  84   24   18 -0.153207 -0.612828  1.942460 -1.368377  0.321327
h   13  52   16   10  0.749119  2.996477  2.373044 -0.085340  0.564304


        sum      amax      amin
B
f  1.285308  0.658828  0.037124
h  2.257218  0.988042  0.184052
------

In [ ]:
'''
【课程2.20  分组转换及一般性“拆分-应用-合并”】 课程作业

'''

In [30]:
# 作业1：按要求创建Dataframe df，通过key分组求和，并将求和结果并在原df中

df = pd.DataFrame({'data1':np.random.rand(8),
                  'data2':np.random.rand(8),
                  'key':list('aabbabab')})

print('创建df为：\n',df,'\n------')
df_ = df.groupby('key').transform(np.mean)
print('求和且合并之后结果为：\n',df.join(df_,rsuffix='_mean'),'\n------')

创建df为：
       data1     data2 key
0  0.298507  0.481976   a
1  0.761940  0.472252   a
2  0.639491  0.964618   b
3  0.238919  0.756300   b
4  0.231337  0.617190   a
5  0.681743  0.906671   b
6  0.601592  0.798819   a
7  0.071703  0.109292   b
------
求和且合并之后结果为：
       data1     data2 key  data1_mean  data2_mean
0  0.298507  0.481976   a    0.473344    0.592559
1  0.761940  0.472252   a    0.473344    0.592559
2  0.639491  0.964618   b    0.407964    0.684220
3  0.238919  0.756300   b    0.407964    0.684220
4  0.231337  0.617190   a    0.473344    0.592559
5  0.681743  0.906671   b    0.407964    0.684220
6  0.601592  0.798819   a    0.473344    0.592559
7  0.071703  0.109292   b    0.407964    0.684220
------

In [ ]:
'''
【课程2.21  透视表及交叉表】 课程作业

'''

In [32]:
# 作业1：按要求创建Dataframe df，并通过数据透视表得到以下结果
# ① 以A列聚合，求出C,D的平均值
# ② 以A,B列聚合，求出D,E的均值、求和
# ③ 以B聚合，计算A列的元素频率

df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),
                   'D' : np.random.randn(8),
                   'E':np.random.rand(8)})


print('创建df为：\n',df,'\n------')
print('以A列聚合，求出C,D的平均值为：\n',pd.pivot_table(df,values=['C','D'],index='A',aggfunc=np.mean),'\n------')
print('以A,B列聚合，求出D,E的均值、求和为：\n',pd.pivot_table(df,values=['D','E'],index=['A','B'],aggfunc=[np.mean,np.sum]),'\n------')
print('以B聚合，计算A列的元素频率为：\n',pd.crosstab(df['B'],df['A']),'\n------')

创建df为：
        A  B   C         D         E
0    one  h  10  0.456511  0.713847
1    two  h  12 -1.807333  0.852110
2  three  h  14  0.526257  0.942896
3    one  h  16 -0.796059  0.015267
4    two  f  18  0.819476  0.838997
5  three  f  20 -0.185152  0.814255
6    one  f  22 -0.736728  0.856365
7    two  f  24  1.318259  0.194405
------
以A列聚合，求出C,D的平均值为：
         C         D
A
one    16 -0.358759
three  17  0.170552
two    18  0.110134
------
以A,B列聚合，求出D,E的均值、求和为：
              mean                 sum
                D         E         D         E
A     B
one   f -0.736728  0.856365 -0.736728  0.856365
      h -0.169774  0.364557 -0.339548  0.729114
three f -0.185152  0.814255 -0.185152  0.814255
      h  0.526257  0.942896  0.526257  0.942896
two   f  1.068867  0.516701  2.137735  1.033402
      h -1.807333  0.852110 -1.807333  0.852110
------
以B聚合，计算A列的元素频率为：
 A  one  three  two
B
f    1      1    2
h    2      1    1
------