In [1]:
import numpy as np
import pandas as pd

In [ ]:
'''
【课程2.2  Pandas数据结构Series：基本概念及创建】 课程作业

'''

In [5]:
# 作业1：分别由字典、数组的方式，创建以下要求的Series

# 由字典的方式创建Series
dic = {'Jack':90, 'Marry':92, 'Tom':89, 'Zack':65}
ar = pd.Series(dic,name='作业1',dtype=np.float64)
print(ar)
print('------------------')

# 由数组的方式创建Series
a = np.array([90,92,89,65])
arr = pd.Series(a,name='作业1',index=(['Jack','Marry','Tom','Zack']),dtype=np.float64)
print(arr)

Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: 作业1, dtype: float64
------------------
Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: 作业1, dtype: float64

In [ ]:
'''
【课程2.3  Pandas数据结构Series：索引】 课程作业

'''

In [9]:
# 作业1：创建一个Series，包含10个元素，且每个值为0-100的均匀分布随机值，index为a-j，请分别筛选出：
# ① 标签为b，c的值为多少
# ② Series中第4到6个值是哪些？
# ③ Series中大于50的值有哪些？

s = pd.Series(np.random.rand(10)*100, index=['a','b','c','d','e','f','g','h','i','j'])
print(s, '\n--------')
print('标签b、c的值为：\n{}'.format(s[['b','c']]), '\n--------')
print('标签b、c的值为：\n', s['b'], s['c'],'\n--------')
print("Series中第4到6个值是：\n%s" %s[3:6], '\n--------')
print("Series中大于50的值有:\n%s" %s[s>50])

a    41.114151
b    23.651407
c    34.583856
d    21.712709
e    53.383340
f    41.968798
g    29.723114
h    86.835630
i    44.250562
j    45.409136
dtype: float64
--------
标签b、c的值为：
b    23.651407
c    34.583856
dtype: float64
--------
标签b、c的值为：
 23.6514070735672 34.5838560947626
--------
Series中第4到6个值是：
d    21.712709
e    53.383340
f    41.968798
dtype: float64
--------
Series中大于50的值有:
e    53.38334
h    86.83563
dtype: float64

In [ ]:
'''
【课程2.4  Pandas数据结构Series：基本技巧】 课程作业

'''

In [8]:
# 作业1：如图创建Series，并按照要求修改得到结果

s = pd.Series(np.array(list('0123456789')), index=(list('abcdefghij')), dtype=np.int)
print("创建s:\n", s, '\n--------')
s['a'] = 100
s['e'] = 100
s['f'] = 100
sl = s.drop('b')
print("s修改后:\n", sl, '\n--------')

创建s:
 a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32
--------
s修改后:
 a    100
c      2
d      3
e    100
f    100
g      6
h      7
i      8
j      9
dtype: int32
--------

In [22]:
s = pd.Series(np.arange(10), index=list('abcdefghij'))
print('创建s：\n',s,'\n------')
s.drop(['b'], inplace=True)   # inplace=True 删除后不生成副本
s[['a','e','f']]=100
print(s)

创建s：
 a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32
------
a    100
c      2
d      3
e    100
f    100
g      6
h      7
i      8
j      9
dtype: int32

In [26]:
# 作业2：已有s1，s2（值为0-10的随机数），请求出s1+s2的值

s1 = pd.Series(np.random.rand(5)*10, index=list('abcde'))
s2 = pd.Series(np.random.rand(5)*10, index=list('cdefg'))
s3 = s1 + s2
print("创建s1为：\n", s1, '\n')
print("创建s2为：\n", s2, '\n------')
print("s1+s2的值为：\n", s3, '\n------')

创建s1为：
 a    4.105054
b    6.080107
c    0.117209
d    4.525895
e    4.200216
dtype: float64

创建s1为：
 c    8.682867
d    5.506727
e    7.191754
f    7.694886
g    6.198459
dtype: float64
------
s1+s2的值为：
 a          NaN
b          NaN
c     8.800076
d    10.032622
e    11.391971
f          NaN
g          NaN
dtype: float64
------

In [ ]:
'''
【课程2.5  Pandas数据结构Dataframe：基本概念及创建】 课程作业

'''

In [21]:
# 作业1：用四种不同的方法，创建以下Dataframe（保证columns和index一致，值不做要求）

data = {'four':['4','5','6','7','8'],
        'one':list('12345'),
        'three':['3','4','5','6','7'],
        'two':list('23456')}
df1 = pd.DataFrame(data, index=list('abcde'), dtype=np.int)
print("方法一：用list组成的字典创建DataFrame：")
print(df1, '\n--------------------------')

data2 = {"four":pd.Series(np.arange(4,9),index=list('abcde')),
       "one":pd.Series(list('12345'),index=list('abcde')),
       "three":pd.Series(['3','4','5','6','7'], index=list('abcde')),
       "two":pd.Series(list('23456'),index=list('abcde'))}
df2 = pd.DataFrame(data2)
print("方法二：用Series组成的字典创建DataFrame：")
print(df2, '\n--------------------------')

data3 = np.arange(20).reshape(5,4)
df3 = pd.DataFrame(data3,
                   index=list('abcde'),
                   columns=['one','two','three','four'])
print("方法三：用二维数组直接创建DataFrame：")
print(df3, '\n--------------------------')

data4 = [{"one":'1',"two":'2',"three":'3',"four":'4'},
        {"four":"5","one":'2',"three":'4',"two":'3'},
        {"four":"6","one":'3',"three":'5',"two":'4'},
        {"four":"7","one":'4',"three":'6',"two":'5'},
        {"four":"8","one":'5',"three":'7',"two":'6'}]
df4 = pd.DataFrame(data4, index=list('abcde'))
print("方法四：用字典组成的列表创建DataFrame：")
print(df4, '\n--------------------------')

df5 = pd.DataFrame([{'one':1,'two':2,'three':3,'four':4},
                   {'one':2,'two':3,'three':4,'four':5},
                   {'one':3,'two':4,'three':5,'four':6},
                   {'one':4,'two':5,'three':6,'four':7},
                   {'one':5,'two':6,'three':7,'four':8}],
                  index = list('abcde'))
print('结果Dataframe为：\n',df5)

方法一：用list组成的字典创建DataFrame：
   four  one  three  two
a     4    1      3    2
b     5    2      4    3
c     6    3      5    4
d     7    4      6    5
e     8    5      7    6
--------------------------
方法二：用Series组成的字典创建DataFrame：
   four one three two
a     4   1     3   2
b     5   2     4   3
c     6   3     5   4
d     7   4     6   5
e     8   5     7   6
--------------------------
方法三：用二维数组直接创建DataFrame：
   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15
e   16   17     18    19
--------------------------
方法四：用字典组成的列表创建DataFrame：
  four one three two
a    4   1     3   2
b    5   2     4   3
c    6   3     5   4
d    7   4     6   5
e    8   5     7   6
--------------------------
结果Dataframe为：
    four  one  three  two
a     4    1      3    2
b     5    2      4    3
c     6    3      5    4
d     7    4      6    5
e     8    5      7    6

In [3]:
ar = pd.Series(['1','2','3','4','5','6'], index=list('abcdef'))
print(ar)
print('------')

arr = pd.Series(np.random.rand(6)*10,index=list('uvwxyz'),dtype=np.int32)
print(arr)
print('------')

arr2 = pd.Series(np.arange(6),index=list('uvwxyz'),dtype=np.int32)
print(arr2)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: object
------
u    2.614005
v    5.608139
w    5.449806
x    9.678467
y    8.958413
z    2.040209
dtype: float64
------
u    0
v    1
w    2
x    3
y    4
z    5
dtype: int32

In [ ]:
'''
【课程2.6  Pandas数据结构Dataframe：索引】 课程作业

'''

In [11]:
# 作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
# ① 索引得到b，c列的所有值
# ② 索引得到第三第四行的数据
# ③ 按顺序索引得到two，one行的值
# ④ 索引得到大于50的值

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 index=['one','two','three','four'],
                 columns=['a','b','c','d'])
print(df)
print('-'*60)

# ① 索引得到b，c列的所有值
data1 = df[['b','c']]
print(data1, '\n--------')

# ② 索引得到第三第四行的数据
# data2 = df.loc[['three','four']]
# print(data2, '\n--------')
data2 = df[2:4]
print(data2, '\n--------')

# # ③ 按顺序索引得到two，one行的值
data3 = df.loc[['two','one']]
print(data3, '\n--------')

# # ④ 索引得到大于50的值
data4 = df[df > 50]
print(data4, '\n--------')

               a          b          c          d
one    97.850532  26.781701  10.292673   1.724946
two    96.493008  17.666856  27.298946  37.388474
three  99.254557  43.244870  74.290318  39.883937
four   70.935627  89.293032  46.621739  66.786711
------------------------------------------------------------
               b          c
one    26.781701  10.292673
two    17.666856  27.298946
three  43.244870  74.290318
four   89.293032  46.621739
--------
               a          b          c          d
three  99.254557  43.244870  74.290318  39.883937
four   70.935627  89.293032  46.621739  66.786711
--------
             a          b          c          d
two  96.493008  17.666856  27.298946  37.388474
one  97.850532  26.781701  10.292673   1.724946
--------
               a          b          c          d
one    97.850532        NaN        NaN        NaN
two    96.493008        NaN        NaN        NaN
three  99.254557        NaN  74.290318        NaN
four   70.935627  89.293032        NaN  66.786711
--------

In [ ]:
'''
【课程2.7  Pandas数据结构Dataframe：基本技巧】 课程作业

'''

In [15]:
# 作业1：创建一个3*3，值在0-100区间随机值的Dataframe（如图），分别按照index和第二列值大小，降序排序

df = pd.DataFrame(np.random.rand(3,3)*100,
                 columns=['v1','v2','v3'],
                 index=['a','b','c'])
print("创建DataFrame为：\n", df, '\n------')

print("按照index降序排列为：\n", df.sort_index(ascending=False), '\n------')
print("按照第二列值大小排列为：\n", df.sort_values(['v2'], ascending=False), '\n------')

创建DataFrame为：
           v1         v2         v3
a  35.799546  16.772408  42.767420
b  43.840530  78.005730  81.229757
c  33.775161   9.902319  68.256472
------
按照index降序排列为：
           v1         v2         v3
c  33.775161   9.902319  68.256472
b  43.840530  78.005730  81.229757
a  35.799546  16.772408  42.767420
------
按照第二列值大小排列为：
           v1         v2         v3
b  43.840530  78.005730  81.229757
a  35.799546  16.772408  42.767420
c  33.775161   9.902319  68.256472
------

In [20]:
# 作业2：创建一个5*2，值在0-100区间随机值的Dataframe（如图）df1，通过修改得到df2

df = pd.DataFrame(np.random.rand(10).reshape(5,2)*100,
                 columns=['v1','v2'],
                 index=list('abcde'))
print("创建DataFrame为：\n", df, '\n------')

df1 = df.T    # 转置
df1['b'] = 100
del df1['e']
print("修改后为：\n",df1, '\n------')

创建DataFrame为：
           v1         v2
a  93.999916  14.523578
b  99.335369  64.765252
c  76.842803  95.282913
d  45.719618  19.730800
e  40.796146  44.895990
------
修改后为：
             a    b          c          d
v1  93.999916  100  76.842803  45.719618
v2  14.523578  100  95.282913  19.730800
------

In [ ]:
'''
【课程2.8  时间模块：datetime】 课程作业

'''

In [2]:
# 作业1：请调用datetime模块，输出以下时间信息

import datetime

now = datetime.datetime.now()
print("1、当前时间为：",now, '\n------')

t1 = datetime.datetime(2017,5,1,12,30)
print("2、输出时间为：",t1, '\n------')

t2 = datetime.datetime(2000,12,1)
print("3、输出时间为：",t2, '\n------')

1、当前时间为： 2019-10-28 21:15:10.720331
------
2、输出时间为： 2017-05-01 12:30:00
------
3、输出时间为： 2000-12-01 00:00:00
------

In [12]:
# 作业2：请创建时间变量‘2000年5月1日’，求出1000天之后是哪年哪月哪日？

# t1 = datetime.date(2000,5,1)
t1 = datetime.datetime(2000,5,1)
tx = datetime.timedelta(1000)
t = t1 + tx
print("2000年5月1日，1000天之后的日期为：", t)

2000年5月1日，1000天之后的日期为： 2003-01-26 00:00:00

In [ ]:
'''
【课程2.9  Pandas时刻数据：Timestamp】 课程作业

'''

In [34]:
# 作业1：请通过迭代创建一个时间列表（如图，时间区间为任意一个月，这里可以用for语句），然后转化成DatetimeIndex，并print月中是多少号

dateArray = []
for i in range(1,31):
    dateArray.append("2019-11-%i" %i)
print("创建的时间列表为：\n",dateArray, '\n------')
date = pd.to_datetime(dateArray)
print("转化成DatetimeIndex为：\n", date, '\n------')
mid = len(date)/2 - 1
print("月中日期为：", date[int(mid)])

创建的时间列表为：
 ['2019-11-1', '2019-11-2', '2019-11-3', '2019-11-4', '2019-11-5', '2019-11-6', '2019-11-7', '2019-11-8', '2019-11-9', '2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17', '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21', '2019-11-22', '2019-11-23', '2019-11-24', '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-28', '2019-11-29', '2019-11-30']
------
转化成DatetimeIndex为：
 DatetimeIndex(['2019-11-01', '2019-11-02', '2019-11-03', '2019-11-04',
               '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
               '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12',
               '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-16',
               '2019-11-17', '2019-11-18', '2019-11-19', '2019-11-20',
               '2019-11-21', '2019-11-22', '2019-11-23', '2019-11-24',
               '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-28',
               '2019-11-29', '2019-11-30'],
              dtype='datetime64[ns]', freq=None)
------
月中日期为： 2019-11-15 00:00:00

In [12]:
# 作业2：请如图创建一个包含时间日期的txt文件，通过open语句读取后转化成DatetimeIndex

f = open("date.txt", 'r')
s = f.readline()
datelst = s.split(',')
print("读取txt文件为：\n", datelst, '\n------')
t = pd.to_datetime(datelst)
print("转化成DatetimeIndex为：\n", t, '\n------')

读取txt文件为：
 ['20171019', '20171119', '20171219', '20180119', '20180219', '20180319', '20180419', '20180519', '20180619', '20180719', '20180819', '20180919', '20181019', '20181119', '20181219', '20190119', '20190219', '20190319', '20190419', '20190519', '20190619', '20190719', '20190819', '20190919', '20191019']
------
转化成DatetimeIndex为：
 DatetimeIndex(['2017-10-19', '2017-11-19', '2017-12-19', '2018-01-19',
               '2018-02-19', '2018-03-19', '2018-04-19', '2018-05-19',
               '2018-06-19', '2018-07-19', '2018-08-19', '2018-09-19',
               '2018-10-19', '2018-11-19', '2018-12-19', '2019-01-19',
               '2019-02-19', '2019-03-19', '2019-04-19', '2019-05-19',
               '2019-06-19', '2019-07-19', '2019-08-19', '2019-09-19',
               '2019-10-19'],
              dtype='datetime64[ns]', freq=None)
------

In [ ]:
'''
【课程2.10  Pandas时间戳索引：DatetimeIndex】 课程作业

'''

In [7]:
# 作业1：请输出以下时间序列

print("时间序列1：\n", pd.Series(np.random.rand(5),
                           index = pd.date_range('20170101','20170105')),
     '\n---------')
# print("时间序列2：\n",  pd.Series(np.random.rand(4),
#                             index = pd.date_range('2017','2018', freq='Q-JAN')),
#       '\n---------')
print("时间序列2：\n",  pd.Series(np.random.rand(4),
                            index = pd.date_range('2017','2018', freq='3M')),
      '\n---------')
print("时间序列3：\n",  pd.DataFrame(np.random.rand(16).reshape(4,4),
                            index = pd.date_range(start='12/1/2017 00:00', periods=4,freq='10T'),
                            columns = ['value1','value2','value3','value4']),
      '\n---------')

时间序列1：
 2017-01-01    0.433102
2017-01-02    0.273334
2017-01-03    0.730137
2017-01-04    0.853279
2017-01-05    0.799698
Freq: D, dtype: float64
---------
时间序列2：
 2017-01-31    0.435980
2017-04-30    0.831410
2017-07-31    0.672085
2017-10-31    0.673401
Freq: 3M, dtype: float64
---------
时间序列3：
                        value1    value2    value3    value4
2017-12-01 00:00:00  0.371762  0.770530  0.633975  0.885061
2017-12-01 00:10:00  0.473011  0.326912  0.636256  0.583251
2017-12-01 00:20:00  0.982898  0.453292  0.092520  0.136472
2017-12-01 00:30:00  0.914646  0.189750  0.146345  0.628397
---------

In [15]:
# 作业2：按要求创建时间序列ts1，并转换成ts2

ts1 = pd.Series(np.random.rand(5),
                index=pd.date_range(start = '20170501 12:00', periods=5 ,freq='10T'))
ts2 = ts1.asfreq('5T', method='ffill')

print("创建时间序列ts1：\n", ts1, '\n------')
print("转化成ts2：\n", ts2, '\n------')

创建时间序列ts1：
 2017-05-01 12:00:00    0.149945
2017-05-01 12:10:00    0.836064
2017-05-01 12:20:00    0.577206
2017-05-01 12:30:00    0.913323
2017-05-01 12:40:00    0.914418
Freq: 10T, dtype: float64
------
转化成ts2：
 2017-05-01 12:00:00    0.149945
2017-05-01 12:05:00    0.149945
2017-05-01 12:10:00    0.836064
2017-05-01 12:15:00    0.836064
2017-05-01 12:20:00    0.577206
2017-05-01 12:25:00    0.577206
2017-05-01 12:30:00    0.913323
2017-05-01 12:35:00    0.913323
2017-05-01 12:40:00    0.914418
Freq: 5T, dtype: float64
------

In [ ]:
'''
【课程2.11  Pandas时期：Period】 课程作业

'''

In [13]:
# 作业1：请输出以下时间序列，使用pd.period_range()

p1 = pd.period_range('201701', '2017-05', freq='M')
ts1 = pd.Series(np.random.rand(5),
              index=p1)
print("时间序列1：\n", ts1, '\n------')

p2 = pd.period_range(start='20170101', periods=5, freq='2H')
ts2 = pd.Series(np.random.rand(5),
              index=p2)
print("时间序列2：\n", ts2, '\n------')

时间序列1：
 2017-01    0.498566
2017-02    0.544491
2017-03    0.688858
2017-04    0.470074
2017-05    0.390855
Freq: M, dtype: float64
------
时间序列2：
 2017-01-01 00:00    0.014855
2017-01-01 02:00    0.374909
2017-01-01 04:00    0.111761
2017-01-01 06:00    0.474071
2017-01-01 08:00    0.835860
Freq: 2H, dtype: float64
------

In [ ]:
'''
【课程2.12  时间序列 - 索引及切片】 课程作业

'''

In [46]:
# 作业1：如图创建时间序列(10*3，值为0-100的随机数)，通过索引得到以下值
# ① 索引得到前4行的所有值
# ② 索引得到2017-12-4 12:00:00的数据
# ③ 索引得到2017-12-4 - 2017-12-5的数据

# 创建时间序列(10*3，值为0-100的随机数)
ts = pd.DataFrame(np.random.rand(30).reshape(10,3)*100,
                 columns=['value1','value2','value3'],
                 index=pd.date_range('20171201', periods=10, freq='12H'))
print("创建时间序列为：\n", ts, '\n---------')

# ① 索引得到前4行的所有值
print("前4行的所有值为：\n", ts[:3], '\n------')
# ② 索引得到2017-12-4 12:00:00的数据
print("2017-12-4 12:00:00的数据为：\n", ts.loc['2017-12-4 12:00'], '\n------')
# ③ 索引得到2017-12-4 - 2017-12-5的数据
print("2017-12-4 - 2017-12-5的数据为：\n", ts['20171204':'20171205'],'\n------')

创建时间序列为：
                         value1     value2     value3
2017-12-01 00:00:00  73.609955  98.319048  32.697794
2017-12-01 12:00:00  36.243018  49.879516  30.199895
2017-12-02 00:00:00   5.738002  91.039016  52.717727
2017-12-02 12:00:00  64.413280  47.396622  46.497065
2017-12-03 00:00:00   4.400312  35.251024  45.793646
2017-12-03 12:00:00  42.372661  10.796377  76.110143
2017-12-04 00:00:00   4.065782  43.464207  97.566390
2017-12-04 12:00:00   0.623104  38.669228  94.599040
2017-12-05 00:00:00  45.791821  44.303331  54.966793
2017-12-05 12:00:00  12.185685  52.564460  70.108642
---------
前4行的所有值为：
                         value1     value2     value3
2017-12-01 00:00:00  73.609955  98.319048  32.697794
2017-12-01 12:00:00  36.243018  49.879516  30.199895
2017-12-02 00:00:00   5.738002  91.039016  52.717727
------
2017-12-4 12:00:00的数据为：
 value1     0.623104
value2    38.669228
value3    94.599040
Name: 2017-12-04 12:00:00, dtype: float64
------
2017-12-4 - 2017-12-5的数据为：
                         value1     value2     value3
2017-12-04 00:00:00   4.065782  43.464207  97.566390
2017-12-04 12:00:00   0.623104  38.669228  94.599040
2017-12-05 00:00:00  45.791821  44.303331  54.966793
2017-12-05 12:00:00  12.185685  52.564460  70.108642
------

In [47]:
print("------test------2017-12-4 12:00:00的数据为：\n", ts.loc['2017-12-4 12:00'], '\n------')

------test------2017-12-4 12:00:00的数据为：
 value1     0.623104
value2    38.669228
value3    94.599040
Name: 2017-12-04 12:00:00, dtype: float64
------

In [ ]:
'''
【课程2.13  时间序列 - 重采样】 课程作业

'''

In [57]:
# 作业1：按要求创建时间序列ts1，通过降采样和升采样，转换成ts2，ts3

ts1 = pd.Series(np.random.rand(10),
               index=pd.date_range('20170101', '20170110', freq='D'))
print("创建时间序列ts1：\n", ts1, '\n------')

ts2 = ts1.resample('3D').mean()
print("转化成ts2：\n" ,ts2, '\n------')

ts3 = ts1.resample('12H').ffill()
print("转化成ts3：\n" ,ts3, '\n------')

创建时间序列ts1：
 2017-01-01    0.335975
2017-01-02    0.676154
2017-01-03    0.403365
2017-01-04    0.034622
2017-01-05    0.662828
2017-01-06    0.489633
2017-01-07    0.043766
2017-01-08    0.161940
2017-01-09    0.586827
2017-01-10    0.204300
Freq: D, dtype: float64
------
转化成ts2：
 2017-01-01    0.471831
2017-01-04    0.395694
2017-01-07    0.264178
2017-01-10    0.204300
Freq: 3D, dtype: float64
------
转化成ts3：
 2017-01-01 00:00:00    0.335975
2017-01-01 12:00:00    0.335975
2017-01-02 00:00:00    0.676154
2017-01-02 12:00:00    0.676154
2017-01-03 00:00:00    0.403365
2017-01-03 12:00:00    0.403365
2017-01-04 00:00:00    0.034622
2017-01-04 12:00:00    0.034622
2017-01-05 00:00:00    0.662828
2017-01-05 12:00:00    0.662828
2017-01-06 00:00:00    0.489633
2017-01-06 12:00:00    0.489633
2017-01-07 00:00:00    0.043766
2017-01-07 12:00:00    0.043766
2017-01-08 00:00:00    0.161940
2017-01-08 12:00:00    0.161940
2017-01-09 00:00:00    0.586827
2017-01-09 12:00:00    0.586827
2017-01-10 00:00:00    0.204300
Freq: 12H, dtype: float64
------

In [ ]:
'''
【课程2.14  数值计算和统计基础】 课程作业

'''

In [18]:
# 作业1：如图创建一个Dataframe（5*2，值为0-100的随机值），并分别计算key1和key2的均值、中位数、累积和

df = pd.DataFrame(np.random.rand(5,2)*100, 
                 columns=['key1','key2'],
                 index=np.arange(5))
print("创建Dataframe为：\n", df, '\n------')

print('df["key1"]的均值为：\n', df['key1'].mean(), '\n------')
print('df["key1"]的中位数为：\n', df['key1'].median(), '\n------')
print('df["key2"]的均值为：\n', df['key2'].mean(), '\n------')
print('df["key2"]的中位数为：\n', df['key2'].median(), '\n------')

df["key1"][2] = np.nan
df["key1_cumsum"] = df['key1'].cumsum()
df["key2_cumsum"] = df['key2'].cumsum()
print('df的累积和为：\n',df,'→ cumsum样本的累计和\n------')

创建Dataframe为：
         key1       key2
0  39.589764  22.364914
1  75.938544   2.987597
2  55.253562  12.985691
3  11.567970  57.078465
4  78.162359  51.257738
------
df["key1"]的均值为：
 52.10243967840985
------
df["key1"]的中位数为：
 55.25356183875717
------
df["key2"]的均值为：
 29.33488100657555
------
df["key2"]的中位数为：
 22.364913677844367
------
df的累积和为：
         key1       key2  key1_cumsum  key2_cumsum
0  39.589764  22.364914    39.589764    22.364914
1  75.938544   2.987597   115.528308    25.352511
2        NaN  12.985691          NaN    38.338202
3  11.567970  57.078465   127.096278    95.416667
4  78.162359  51.257738   205.258637   146.674405 → cumsum样本的累计和
------

In [24]:
# 作业2：写出一个输入元素直接生成数组的代码块，然后创建一个函数，该函数功能用于判断一个Series是否是唯一值数组，返回“是”和“不是”

def f(s):
    sq = s.unique()
    if len(sq) == len(s):
        print('------\n该数组是唯一值数组')
    else:
        print('------\n该数组不是唯一值数组')

s_input = input("请随机输入一组元素：\n")
lst = s_input.split(',')
ds = pd.Series(lst)
f(ds)

print(ds)
print(ds.unique())
print(pd.Series(ds.unique()))

请随机输入一组元素：
a,sj,22,fgv,455,22,fgv,67,22,dfn
------
该数组不是唯一值数组
0      a
1     sj
2     22
3    fgv
4    455
5     22
6    fgv
7     67
8     22
9    dfn
dtype: object
['a' 'sj' '22' 'fgv' '455' '67' 'dfn']
0      a
1     sj
2     22
3    fgv
4    455
5     67
6    dfn
dtype: object

In [ ]:
'''
【课程2.15  文本数据】 课程作业

'''

In [40]:
# 作业1：如图创建一个Dataframe，并分别通过字符串常用方法得到3个Series或得到新的Dataframe：
# ① name字段首字母全部大写
# ② gender字段去除所有空格
# ③ score字段按照-拆分，分别是math，english，art三个学分

df = pd.DataFrame({'name':['jack','tom','Marry','zack','heheda'],
                  'gender':['M ','M','   F','  M ','  F'],
                  'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
print("创建Dataframe为：\n", df, "\n------")

df['name'] = df['name'].str.capitalize()
df['gender'] = df['gender'].str.strip()
df['math'] = df['score'].str.split('-', expand=True)[0]
df['english'] = df['score'].str.split('-', expand=True)[1]
df['art'] = df['score'].str.split('-', expand=True)[2]
del df['score']
print("修改后为：\n", df, '\n------')

创建Dataframe为：
      name gender     score
0    jack     M   90-92-89
1     tom      M  89-78-88
2   Marry      F  90-92-95
3    zack     M   78-88-76
4  heheda      F  60-60-67
------
修改后为：
      name gender math english art
0    Jack      M   90      92  89
1     Tom      M   89      78  88
2   Marry      F   90      92  95
3    Zack      M   78      88  76
4  Heheda      F   60      60  67
------

In [ ]:
'''
【课程2.16  合并 merge、join】 课程作业

'''

In [5]:
# 作业1：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'key':['b','c','d'],
                   'values2':np.random.rand(3)})
print("创建df1为：\n", df1, '\n------')
print("创建df2为：\n", df2, '\n------')

df3 = pd.merge(df1, df2, how='outer', on='key')
print("合并df3为：\n", df3, '\n------')

创建df1为：
   key   values1
0   a  0.591359
1   b  0.201378
2   c  0.320650
------
创建df2为：
   key   values2
0   b  0.615405
1   c  0.247926
2   d  0.428473
------
合并df3为：
   key   values1   values2
0   a  0.591359       NaN
1   b  0.201378  0.615405
2   c  0.320650  0.247926
3   d       NaN  0.428473
------

In [13]:
# 作业2：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'lkey':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'rkey':['b','c','d'],
                   'values2':np.random.rand(3)})
print("创建df1为：\n", df1, '\n------')
print("创建df2为：\n", df2, '\n------')

df3 = pd.merge(df1, df2, left_on='lkey', right_on='rkey', how='left')
print("合并df3为：\n", df3, '\n------')

创建df1为：
   lkey   values1
0    a  0.204695
1    b  0.142316
2    c  0.268599
------
创建df2为：
   rkey   values2
0    b  0.948362
1    c  0.118736
2    d  0.985426
------
合并df3为：
   lkey   values1 rkey   values2
0    a  0.204695  NaN       NaN
1    b  0.142316    b  0.948362
2    c  0.268599    c  0.118736
------

In [15]:
# 作业3：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'values2':np.random.rand(3),
                   'values3':np.arange(5,8)},
                  index=['b','c','d'])
print("创建df1为：\n", df1, '\n------')
print("创建df2为：\n", df2, '\n------')

df3 = pd.merge(df1, df2, left_on='key', right_index=True)
print("合并df3为：\n", df3, '\n------')

创建df1为：
   key   values1
0   a  0.758376
1   b  0.198310
2   c  0.769232
------
创建df2为：
     values2  values3
b  0.255230        5
c  0.681920        6
d  0.313647        7
------
合并df3为：
   key   values1  values2  values3
1   b  0.198310  0.25523        5
2   c  0.769232  0.68192        6
------

In [ ]:
'''
【课程2.17  连接与修补 concat、combine_first】 课程作业

'''

In [ ]:
'''
【课程2.19  数据分组】 课程作业

'''

In [ ]:
'''
【课程2.20  分组转换及一般性“拆分-应用-合并”】 课程作业

'''

In [ ]:
'''
【课程2.21  透视表及交叉表】 课程作业

'''